* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    
}

html {
    scroll-behavior: smooth;
    
}

div {
    overflow-x: hidden;  
}

.navbar {
    background-color: black;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    position: relative;
    margin-left: 80px
}

label.logo a {
    color: white;
    text-decoration: none;
    font-size: 28px;
}

/* HERO SECTION */
.hero-background {
    height: 400px;
    background-color: #E8E498;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.hero-background h1{
    color: black;
    margin-bottom: 10px;
    position: relative;
    top: 63px;
    left: 248px;
}

.hero-background p {
    color: black;
    margin-top: 0;
    position: relative;
    top: 90px;
    left: 250px;
    font-size: 20px;
}



.course-btn {
    text-decoration: none;
    border-radius: 25px;
    color: white;
    border: black;
    background-color: black;
    position: absolute;
    padding: 0.75rem 1rem;
    left: 230px;
    top: 320px;
    font-size: 21px;
    cursor: pointer;
    border: 2px solid black;
}

.course-btn span {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

.course-btn:hover {
    background-color: #E8E498;
    transition: 300ms;
    border-color: #02150E;
}
.course-btn:hover span{
    color: black;
}

#second-course-btn {
    position: absolute;
    left: 410px;
    background-color: white;
    border-color: white;
}

#second-course-btn span {
    color: black;
}

#second-course-btn:hover {
    background-color: #E8E498;
}

/* SECOND HERO SECTION */
.second-hero-background {
    height: 900px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.second-hero-background {
    text-align: center;
}

.second-background-intro {
    margin-top: 80px;
    margin-bottom: 100px;
}

.second-hero-background p {

    top: -70px;
    font-size: 22px;
    left: 20px;

}


.info-stuff {

    height: 800px;
    overflow: hidden;
}

.third-hero {
    overflow: hidden;
}

.image-one {
    position: relative;
    left: -470px;
    width: 200px;
    top: 50px;
}

.image-two {
    position: relative;
    left: -139px;
    bottom: 193px;
    width: 200px;
}

.image-three {
    position: relative;
    left: 177px;
    bottom: 436px;
    width: 200px;
}

.image-four {
    position: relative;
    left: 500px;
    bottom: 678px;
    width: 200px;
}

.image-one-text {
    position: relative;
    right: 472px;
    top: 65px;
}

#txt-two {
    right: 139px;    
    top: -178px;
}

#txt-three {
    right: -180px;
    top: -422px;
}

#txt-four {
    right: -500px;
    top: -665px;
}

/* SIDE MENU */
.side-menu {
    height: 91%;
    position: absolute;
    width: 220px;
    margin-right: 1200px;
    background-color: #E7E9EB;
    transition: 0.5s;
    display: block;
}

.side-menu a{
    text-decoration: none;
    display: block;
}


.title-name {
    font-weight: 600;
    font-size: 23px;
    position: relative;
    left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-buttons {
    display: block;
    width: 100%;
    border: none;
    background-color: #E7E9EB;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.item-buttons:hover {
    background-color: lightblue;
    font-weight: bold;
}

.main-title {
    position: relative;
    margin-left: 250px;
}

.info {
    margin-left: 241px;   
}

.second-title {
    position: relative;
    margin-left: 250px;
}

/* MEDIA QUERIES */

@media (max-width:1250px) {


    .hero-background h1 {
        left: 170px;
    }
    
    .hero-background p {
        left: 170px;
    }

    .course-btn {
        left: 170px;
    }

    #second-course-btn {
        left: 340px;
    }

    .image-one {
        position: relative;
        left: -340px;
        width: 150px;
        top: 50px;
    }
    
    .image-two {
        position: relative;
        left: -110px;
        bottom: 145px;
        width: 150px;
    }
    
    .image-three {
        position: relative;
        left: 147px;
        bottom: 336px;
        width: 150px;
    }
    
    .image-four {
        position: relative;
        left: 370px;
        bottom: 535px;
        width: 150px;
    }
    
    .image-one-text {
        position: relative;
        right: 343px;
        top: 65px;
    }
    
    #txt-two {
        right: 110px;    
        top: -134px;
    }
    
    #txt-three {
        right: -154px;
        top: -332px;
    }
    
    #txt-four {
        right: -370px;
        top: -530px;
    }
    
}


@media (max-width:1005px) {

    .navbar {
        /* background-color: beige; */
    }

    .hero-background h1 {
        left: 130px;
    }

    .hero-background p {
        left: 130px;
    }

    .second-hero-background p {
        font-size: 20px;
    }

    .course-btn {
        left: 130px;
    }

    #second-course-btn {
        left: 300px;
    }
}



@media (max-width: 965px) {
    .navbar {
        /* background-color: gray; */
    }

    .hero-background h1 {
        left: 40px;
    }


    .course-btn {
        left: 260px;
    }

    #second-course-btn {
        left: 450px;
    }

    .second-hero-background p {
        left: -5px;
    }
    
    .image-one {
        position: relative;
        left: -340px;
        width: 150px;
        top: 50px;
    }
    
    .image-two {
        position: relative;
        left: -110px;
        bottom: 145px;
        width: 150px;
    }
    
    .image-three {
        position: relative;
        left: 107px;
        bottom: 340px;
        width: 150px;
    }
    
    .image-four {
        position: relative;
        left: 310px;
        bottom: 538px;
        width: 150px;
    }
    
    .image-one-text {
        position: relative;
        right: 343px;
        top: 65px;
    }
    
    #txt-two {
        right: 110px;    
        top: -134px;
    }
    
    #txt-three {
        right: -115px;
        top: -332px;
    }
    
    #txt-four {
        right: -320px;
        top: -530px;
    }
    

}

@media (max-width: 870px) {
    .navbar {
        /* background-color: yellow; */
    }

    .hero-background h1 {
        font-size: 27px;
        left: 90px;
    }

    .hero-background p {
        font-size: 21px;
    }

    .course-btn {
        left: 250px;
    }

    #second-course-btn {
        left: 440px;
    }

    .second-hero-background p {
        font-size: 18px;
    }

    .info-stuff {
        margin-bottom: -400px;
    }

    .second-hero-background {
        /* background-color: aqua; */
        height: 1800px;
    }

    .third-hero {
        height: 1200px;
    }


    .image-one {
        position: relative;
        left: 0px;
        width: 210px;
        top: 55px;
    }
    
    .image-two {
        position: relative;
        left: 0px;
        bottom: -100px;
        width: 210px;
    }
    
    .image-three {
        position: relative;
        left: 0px;
        bottom: -140px;
        width: 210px;
    }
    
    .image-four {
        position: relative;
        left: 0px;
        bottom: -170px;
        width: 210px;
    }
    
    .image-one-text {
        position: relative;
        right: 0px;
        top: 65px;
    }
    
    #txt-two {
        right: 0px;    
        top: 110px;
    }
    
    #txt-three {
        right: 0px;
        top: 150px;
    }
    
    #txt-four {
        right: 0px;
        top: 180px;
    }
    

}

@media (max-width: 800px) {
    .navbar {
        /* background-color: green; */
    }

    label.logo {
        left: -20px;
    }

    .hero-background h1 {
        font-size: 27px;
        left: 58px;
    }

    .hero-background p {
        font-size: 21px;
        left: 60px;
    }

    .course-btn {
        left: 180px;
    }

    #second-course-btn {
        left: 370px;
    }

    .second-hero-background p {
        font-size: 17.25px;
    }

    .info-stuff {
        margin-bottom: -400px;
    }
}

@media (max-width: 770px) {
    .navbar {
        /* background-color: blue; */
    }

    .hero-background h1 {
        font-size: 27px;
        left: 30px;
    }

    .hero-background p {
        font-size: 21px;
        left: 10px;
        text-align: center;
    }



    .course-btn {
        left: 210px;
    }

    #second-course-btn {
        left: 390px;
    }

    .second-hero-background p {
        font-size: 16px;
        
    }
}

@media (max-width: 730px) {
    .navbar {
        /* background-color: red; */
    }

    .hero-background h1 {
        font-size: 23px;
        left: 9%;
    }

    .hero-background p {
        font-size: 19px;
        left: -1%;
        text-align: center;
    }

    .course-btn {
        left: 30%;
        top: 300px;
        width: 260px;
    }

    #second-course-btn {
        left: 30%;
        top: 370px;
        width: 260px;
    }

    .second-hero-background p {
        text-size-adjust: auto;
    }
}

@media (max-width:660px) {
    .navbar {
        /* background-color: blue; */
    }

    .hero-background h1 {
        left: 4%;
    }

    .hero-background p {
        left: -2%;
    }

    .second-hero-background p {
        width: 370px;
        left: 19%;
    }

    
}

@media (max-width:630px) {
    .navbar {
        /* background-color: red; */
    }

    .hero-background h1 {
        left: 2%;
        font-size: 22px;
    }

    .hero-background p {
        left: -2%;
        font-size: 17px;
    }
    
}

@media (max-width:575px) {
    .second-hero-background {
        /* background-color: red; */
    }
    
    label.logo {
        left: -63px;
    }

    .hero-background h1 {
        left: 2%;
        font-size: 20px;
    }

    .hero-background p {
        left: 0%;
        font-size: 16px;
    }

    .hero-background {
        height: 500px;
    }
    
    .course-btn {
        top: 350px;
        width: 99%;
        left: 2px;
        
    }

    #second-course-btn {
        top: 420px;
        width: 99%;
        left: 2px;
    }

    .second-hero-background p {
        font-size: 18px;
        left: 9%;
        width: 400px;
    }

    .info-stuff {
        margin-bottom: -300px;
    }
}

/* PHONE RESPONSIVENESS */

@media (max-width: 428px) {

    .second-hero-background p {
        left: 17px;
    }

    .hero-background h1 {
        font-size: 1.1rem;
        width: 330px;
        left: 40px;
    }
    label.logo {
        left: -90px;
    }
    
}

/* PHONE RESPONSIVENESS */

@media (max-width: 414px) {

    .second-hero-background p {
        left: 5px;
    }

    label.logo {
        left: -90px;
    }
    
}

@media (max-width: 395px) {
    .second-hero-background p {
        font-size: 17px;
        width: 385px;
        left: 4px;
    }

    label.logo {
        left: -98px;
    }

    
}

@media (max-width: 375px) {
    .hero-background h1 {
        font-size: 19px;
    }

    .hero-background p {
        font-size: 17px;
    }

    .second-hero-background p {
        font-size: 16px;
        width: 360px;
        left: 8px;
    }

    .info-stuff {
        margin-bottom: -350px;
    }
}

@media (max-width:360px) {
    .second-hero-background p {
        left: 4px;
        width: 350px;
    }
}