* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

div {
    overflow-x: hidden;
    display: block;
}

.navbar {
    background-color: #02150E;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.container {
    width: 100%;
    overflow: hidden;
}
/* Container section of info */

.container-info {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    left: 220px;
    display: block;
    height: 91.35%;
    position: absolute;
    width: 100%;
    font-family: "Noto Sans","Helvetica Neue","Helvetica","Arial","Liberation Sans","Roboto","Noto",sans-serif;
    
    /* -webkit-box-shadow:inset 0px 0px 0px 5px rgba(0,0,0,.2);
    -moz-box-shadow:inset 0px 0px 0px 5px rgba(0,0,0,.2);
    box-shadow:inset 0px 0px 0px 3px rgba(0,0,0,.2); */
}
.side-menu {
    height: 91%;
    position: absolute;
    width: 220px;
    margin-right: 1200px;
    background-color: #E7E9EB;
    transition: 0.5s;
    display: block;
}

.side-menu a{
    text-decoration: none;
    display: block;
}

.title-name {
    font-weight: 600;
    font-size: 23px;
    position: relative;
    left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-buttons {
    display: block;
    width: 100%;
    border: none;
    background-color: #E7E9EB;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.item-buttons:hover {
    background-color: lightblue;
    font-weight: bold;
}



.container-info h1 {
    margin-left: 40px;
    margin-top: 30px;
}

.intro-brief {
    margin-left: 20px;
    margin-top: 36px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
    width: 1000px;
}

.border-line {
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 5px 5px -5px #333;
    margin: -50px auto 10px; 
}


p {
    position: relative;
    left: 10%;
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 1.5;
    font-weight: inherit;

}

h2 {
    position: relative;
    left: 10%;
    margin-bottom: 20px;
    font-size: 45px;
    
}

h3 {
    margin-bottom: 20px;
    font-size: 25px;
    position: relative;
    left: 10%;
    margin-top: 40px;
}

.title {
    position: relative;
    left: 10%;
}

iframe {
    position: relative;
    margin-top: 30px;
    left: 10%;
}

#vid-src {
    margin-top: 6px;
    margin-bottom: 40px
}

.sheet-link {
    display: inline-block;
    position: relative;
    margin-bottom: 400px;
    left: 10vw;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.navinfo {
    display: none;
}

.navinfo a:hover {
    background-color: #02150E;
}

@media (max-width: 1360px) {
    .container-info {
        background-color: red;
    }

    .intro-brief {
        width: 700px;
    }
}

@media (max-width: 1250px) {
    .container-info {
        background-color: blue;
    }

    .container-info h1 {
        left: 3%;
    }

    .intro-brief {
        left: 0%;
    }
}

@media (max-width: 1170px) {

    .container-info {
        background-color: red;
    }

    .container-info h1 {
        left: 2%;
        font-size: 23px;
    }

    .container-info h2 {
        left: 5%;
        font-size: 32px;
    }

    .intro-brief {
        margin-left: 0;
        font-size: 17px;
    }

    .container-info h3 {
        left: 5%;
    }

    .container-info p {
        left: 5%;
    }
}

@media (max-width:1102px)  {
     .container-info {
        background-color: green;
    } 

    .container-info h2 {
        left: 2%;
    }

    .container-info h3 {
        left: 2%;
        font-size: 21px;
    }

    .container-info p {
        left: 2%;
        font-size: 17px;
    }

    iframe {
        height: 300px;
        width: 400px;
        left: 2%;
    }
}

@media (max-width:1000px) {
    .container-info {
        background-color: pink;
    }
    .navinfo {
        display: flex;
        background-color: #333;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        
    }

    .navinfo::-webkit-scrollbar {
        display: none;
    }

    .navinfo a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }

    .side-menu {
        display: none;
    }

    .container-info {
        left: 0;
    }

    .container-info p {
        left: 15%;
    }

    .container-info h1 {
        left: 12%;
    }

    .container-info h2 {
        left: 15%; 
    }

    .container-info h3 {
        left: 15%;
    }

    iframe {
        left: 15%;
    }
}

@media (max-width:888px) {

    .container-info {
        background-color: orange;
    }

    #vid-src {
        left: 120px;
    }

    .container-info h1 {
        left: 1%;
            
    }

    .container-info p {
        left: 9%;
        font-size: 2vw;
        width: 700px;

    }

    .container-info h2 {
        left: 5%;
    }

    .container-info h3 {
        left: 5%;
    }

    .container-info {
        height: 100%;
    }
    

}

@media  (max-width: 770px){

    .container-info .intro-brief {
        width: 600px;
    }
    .container-info {
        background-color: aqua;
    }

    .container-info p {
        font-size: 2vw;
    }
}


@media (max-width:690px) {
    .container-info {
        background-color: red;
    }

    .container-info .intro-brief {
        left: 3.5%;
        text-align: center;
    }

    .container-info p {
        font-size: 14px;
        left: 8%;
    }

    .container-info h2{
        left: 0;
        text-align: center;  
    }

    .container-info h3{
        left: 0;
        text-align: center;  
        }

    iframe {
            left: 9%;
    }

}

@media (max-width:660px) {
    .container-info {
        background-color: rebeccapurple;
    }

    .container-info p {
        width: 300px;
        text-align: center;
        left: 26%;
    }

    iframe {
        height: 170px;
        width: 230px;
        left: 31%;
    }
}

@media (max-width:590px) {

    .container-info {
        background-color: yellow;
    }

    .container-info .title {
        left: -10px;
    }

    .container-info .intro-brief {
        width: 420px;
        left: 60px;
    }

    .container-info p {
        left: 130px;
    }

}

@media (max-width:500px) {

    .container-info {
        background-color: rosybrown;
    }

    .container-info .intro-brief {
        left: 30px;
    }

    .container-info p {
        left: 90px;
    }

    iframe {
        left: 125px;
    }

    #vid-src {
        left: 80px;
    }
}



/* PHONE RESPONSIVENESS */


@media (max-width: 414px) {
    .container-info p {
        left: 56px;
    }

    iframe {
        left: 90px;
    }

    .container-info .intro-brief {
        width: 230px;
        left: 80px;
    }

    #vid-src {
        left: 52px;
    }

}

@media (max-width: 375px) {

    .container-info p{
        left: 35px;
    }

    .container-info .intro-brief {
        left: 70px;
    }

    .container-info .title {
        width: 290px;
        left: 14px;
    }

    iframe {
        left: 75px;
    }

    #vid-src {
        left: 38px;
    }
}