* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

div {
    overflow-x: hidden;
    display: block;
}

.navbar {
    background-color: #02150E;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}


.container {
    width: 100%;
    overflow: hidden;
    
}


/* Container section of info */

.container-info {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    left: 220px;
    display: block;
    height: 91.35%;
    position: absolute;
    width: 100%;
    font-family: "Noto Sans","Helvetica Neue","Helvetica","Arial","Liberation Sans","Roboto","Noto",sans-serif;
    
    /* -webkit-box-shadow:inset 0px 0px 0px 5px rgba(0,0,0,.2);
    -moz-box-shadow:inset 0px 0px 0px 5px rgba(0,0,0,.2);
    box-shadow:inset 0px 0px 0px 3px rgba(0,0,0,.2); */
}

.side-menu {
    height: 91%;
    position: absolute;
    width: 220px;
    margin-right: 1200px;
    background-color: #E7E9EB;
    transition: 0.5s;
    display: block;
}

.side-menu a{
    text-decoration: none;
    display: block;
}

.title-name {
    font-weight: 600;
    font-size: 23px;
    position: relative;
    left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item-buttons {
    display: block;
    width: 100%;
    border: none;
    background-color: #E7E9EB;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.item-buttons:hover {
    background-color: lightblue;
    font-weight: bold;
}



.container-info h1 {
    margin-left: 40px;
    margin-top: 30px;   
}

.img-of-graph {
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-left: 235px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro-brief {
    margin-left: 20px;
    margin-top: 36px;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
    width: 1000px;
}

.border-line {
    border:none;
    height: 20px;
    width: 100%;
    height: 50px;
    margin-top: 0;
    box-shadow: 0 5px 5px -5px #333;
    margin: -50px auto 10px; 
}


p {
    position: relative;
    left: 10%;
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 1.5;
    font-weight: inherit;

}

h2 {
    position: relative;
    left: 10%;
    margin-bottom: 20px;
    font-size: 45px;
    
}

h3 {
    margin-bottom: 20px;
    font-size: 25px;
    position: relative;
    left: 10%;
    margin-top: 40px;
}

.title {
    position: relative;
    left: 10%;
}

iframe {
    position: relative;
    margin-top: 30px;
    left: 10%;
}

#vid-src {
    margin-top: 6px;
    margin-bottom: 40px
}



.sheet-link {
    display: inline-block;
    position: relative;
    margin-bottom: 150px;
    left: 10vw;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.navinfo {
    background-color: #E7E9EB;
    display: none;
}

.navinfo a:hover {
    background-color: lightblue;
}

.math-txt {
    position: relative;
    left: -30vw;
}

.math-txt-domain {
    position: relative;
    right: 580px;
    margin-bottom: 6px;
    font-weight: inherit;
}

.container-info #trig-img {
    position: relative;
    left: -2%;
}

@media (max-width: 1360px) {
    .container-info {
        /* background-color: red; */
    }

    .intro-brief {
        width: 700px;
    }
}

@media (max-width: 1250px) {
    .container-info {
        /* background-color: blue; */
    }

    .container-info h1 {
        left: 3%;
    }

    .intro-brief {
        left: 0%;
    }
}

@media (max-width: 1170px) {

    .container-info {
        /* background-color: red; */
    }

    .img-of-graph {
        position: relative;
        left: -10%;
    }
    .container-info h1 {
        left: 2%;
        font-size: 23px;
    }

    .container-info h2 {
        left: 5%;
        font-size: 32px;
    }

    .intro-brief {
        margin-left: 0;
        font-size: 17px;
    }

    .container-info h3 {
        left: 5%;
    }

    .container-info p {
        left: 5%;
    }
}

@media (max-width:1102px)  {
     .container-info {
        /* background-color: green; */
    } 

    .container-info h2 {
        text-align: center;
        left: -120px;
    }

    .container-info .intro-brief {
        width: 700px;
        left: 80px;
        text-align: left;
    }

    .container-info .title {
        text-align: center;
        left: -135px;
    }
    .math-txt {
        left: -100px;
    }

    .img-of-graph {
        left: 17px;
    }
    .container-info h3 {
        text-align: center;
        left: -120px;
        font-size: 21px;
    }

    .container-info p {
        text-align: left;
        left: 55px;
        font-size: 17px;
        width: 900px;
    }

    iframe {
        height: 300px;
        width: 400px;
        left: 230px;
    }

    #vid-src {
        left: 250px;
    }

    .sheet-link {
        left: 260px;
    }
}

@media (max-width:1000px) {
    .container-info {
        /* background-color: pink; */
    }

    .equation-container #vid-src-last {
        margin-bottom: 200px;
    }


    .container-info .title {
        left: 5px;
    }

    .slope-container #vid-src {
        margin-bottom: 100px;
    }

    .container-info .intro-brief {
        left: 200px;
        width: 500px;
    }

    .img-of-graph {
        position: relative;
        left: 32px;
    }

    .navinfo {
        display: flex;
        background-color: #E7E9EB;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        
    }


    .navinfo::-webkit-scrollbar {
        display: none;
    }

    .navinfo a {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px;
        text-decoration: none;
    }


    .side-menu {
        display: none;
    }

    .container-info {
        left: 0;
    }

    .container-info p {
        left: 130px;
    }

    .container-info h1 {
        text-align: center;
        left: -17px;
    }

    .container-info h2 {
        left: 20px; 
    }

    .container-info h3 {
        left: 20px;
    }

    iframe {
        left: 20px;
    }

    .math-txt {
        left: 20px;
    }

    .img-of-graph {
        left: 75px;
    }

    #vid-src {
        left: 250px;
    }

    iframe {
        left: 250px;
    }
}

@media (max-width:888px) {

    .container-info {
        /* background-color: orange; */
    }


    .img-of-graph {
        position: relative;
        left: -7%;
    }

    #vid-src {
        left: 270px;
    }

    .container-info h1 {
        left: 10px;
            
    }

    .container-info p {
        left: 9%;
        width: 700px;

    }

    .container-info h2 {
        left: 20px;
    }

    .container-info h3 {
        left: 11px;
    }

    .container-info {
        height: 100%;
    }
    .container-info p {
        left: 90px;
    }
    
    .img-of-graph {
        left: 20px;
    }

}

@media  (max-width: 770px){

    .container-info .intro-brief {
        width: 600px;
    }
    .container-info {
        /* background-color: aqua; */
    }

    .img-of-graph {
        position: relative;
        left: -15%;
    }

    .container-info p {
        left: 200px;
        width: 360px;
    }
    .container-info h1 {
        left: 10px;
    }

    .container-info h2 {
        left: 10px;
    }

    .container-info h3 {
        left: 10px;
    }

    .math-txt {
        left: 10px;
    }

    .img-of-graph {
        left: -37px;
    }

    .container-info .intro-brief {
        left: 75px;
    }

    .container-info #trig-img {
        left: -40px;
    }

    iframe {
        left: 170px;
    }

    #vid-src {
        left: 180px;
    }

    .sheet-link {
        left: 210px;
    }
}


@media (max-width:690px) {
    .container-info {
        /* background-color: red; */
    }

    .img-of-graph {
        position: relative;
        left: -15%;
    }

    .container-info p {
        left: 150px;
        width: 360px;
    }

    .container-info #trig-img {
        left: -90px;
    }

    .container-info h1 {
        left: 10px;
    }

    .container-info h2 {
        left: 10px;
    }

    .container-info h3 {
        left: 10px;
    }

    .math-txt {
        left: 10px;
    }

    .img-of-graph {
        left: -105px;
    }

    .container-info .intro-brief {
        left: 100px;
        width: 450px;
    }

    .container-info .title {
        left: -10px;
    }
    iframe {
        left: 150px;
        width: 320px;
        height: 250px;
    }
    #vid-src {
        left: 160px;
    }

    .sheet-link {
        left: 160px;
    }
}

@media (max-width:660px) {
    .container-info {
        /* background-color: rebeccapurple; */
    }

    .container-info p {
        width: 300px;
        text-align: center;
        left: 26%;
    }

    .container-info #trig-img {
        left: -120px;
    }

    iframe {
        height: 170px;
        width: 230px;
        left: 31%;
    }
}

@media (max-width:590px) {

    .container-info {
        /* background-color: yellow; */
    }

    .img-of-graph {
        position: relative;
        left: -100px;
        width: 320px;
    }
    .container-info .title {
        left: 40px;
        width: 400px;
    }

    .container-info .intro-brief {
        width: 420px;
        left: 90px;
    }

    .container-info p {
        left: 150px;
        text-align: center;
        width: 250px;
    }

    .container-info h3 {
        left: -12px;
    }

    .container-info h2 {
        left: -12px;
    }

}

@media (max-width:500px) {

    .container-info {
        /* background-color: rosybrown; */
    }

    .container-info .intro-brief {
        left: 40px;
    }    

    .container-info #trig-img {
        left: -140px;
    }
    
    .container-info .title {
        left: 6px;
    }

    .img-of-graph {
        left: -140px;
    }

    .container-info p {
        left: 60px;
        text-align: center;
        width: 360px;
    }

    iframe {
        left: 125px;
    }

    #vid-src {
        left: 45px;
        font-size: 12px;
    }

    .sheet-link {
        left: 90px;
    }

    .math-txt {
        left: -10px;
    }
}



/* PHONE RESPONSIVENESS */


@media (max-width: 440px) {

    .container-info p {
        
        left: 30px;
    }

    .container-info h3 {
        left: 1px;
    }

    .container-info h2 {
        left: 1px;
    }

    .container-info .title {
        left: -20px;
    }

    .container-info .intro-brief {
        left: 48px;
        width: 350px;
    }
    
    iframe {
        left: 100px;
    }

    #vid-src {
        left: 28px;
    }
}

@media (max-width: 414px) {
    .container-info p {
        left: 31px;
        font-size: 1rem;
    }

    .container-info h3 {
        left: 5px;
        font-size: 1.1rem;
    }


    iframe {
        left: 90px;
    }

    .container-info .intro-brief {
        width: 340px;
        left: 35px;
    }

    .container-info .title {
        width: 400px;
        text-align: center;
        left: -35px;
    }

    .container-info .img-of-graph {
        left: -180px;
    }

    .container-info #trig-img {
        left: -180px;
    }

    #vid-src {
        left: 28px;
    }

    .sheet-link {
        left: 70px;
        font-size: 0.9rem;
    }

}

@media (max-width: 375px) {

    .container-info p{
        left: 7px;
        font-size: 0.9rem;
    }

    .container-info .intro-brief {
        left: 27px;
    }

    .container-info .title {
        width: 290px;
        left: 8px;
    }

    iframe {
        left: 75px;
    }

    #vid-src {
        left: 12px;
    }

    .container-info .img-of-graph {
        left: -210px;
    }

    .container-info #trig-img {
        left: -210px;
    }

    .container-info h3 {
        left: 1px;
    }
}